Repository jonasgeiler/svelte-tiny-virtual-list: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check, eslint, prettier --check, vitest related --run, playwright test

refactor: bump node.js version requirement to 20.17.0
  .github/workflows/check.yml
  package.json
Due: biome check, prettier --check

chore(package.json): rename "maintainers" field back to "contributors"
  package.json
Due: biome check, prettier --check

chore: update package homepage and add funding url, also move assets/ to brand/
  brand/logo.sketch
  package.json
Due: biome check, prettier --check

chore: update license year
  LICENSE.md
Due: prettier --check

fix(readme): use relative logo path
  README.md
Due: prettier --check

feat(gha): check github actions workflows and git hooks in check workflow
  .github/workflows/check.yml
Due: prettier --check

feat(gha): add release workflow
  .github/workflows/check.yaml
  .github/workflows/release.yaml
  .gitignore
Due: prettier --check

4.0.0-rc.1
  package.json
Due: biome check, prettier --check

3.0.1
  package.json
Due: biome check, prettier --check

feat(gha): check if release tag is for a pre-release and handle accordingly
  .github/workflows/release.yaml
Due: prettier --check

refactor: many improvements all around
  .lintstagedrc.json
  README.md
  jsconfig.json
  package.json
  pnpm-lock.yaml
  src/lib/SizeAndPositionManager.js
  src/lib/SizeAndPositionManager.test.js
  src/lib/VirtualList.svelte
  src/lib/constants.js
  src/lib/index.js
  src/lib/types.d.ts
  src/routes/demos/hacker-news/+page.svelte
  src/routes/examples/controlled-scroll-offset/+page.svelte
  src/routes/examples/elements-of-equal-height/+page.svelte
  src/routes/examples/horizontal-list/+page.svelte
  src/routes/examples/scroll-to-index/+page.svelte
  src/routes/examples/variable-heights/+page.svelte
  types/index.d.ts
Due: biome check, eslint, prettier --check, vitest related --run

refactor: try to rewrite everything as derives and effects
  src/lib/VirtualList.svelte
  src/lib/utils/ListProps.svelte.js
  src/lib/utils/ListState.svelte.js
Due: biome check, eslint, prettier --check

refactor: get rid of ListProps and ListState classes by putting it directly in component
  src/lib/VirtualList.svelte
  src/lib/utils/ListProps.svelte.js
  src/lib/utils/ListState.svelte.js
Due: biome check, eslint, prettier --check

docs(readme): fix broken table\n\nAdded <!-- prettier-ignore --> above the table to prevent Prettier from re-breaking it.
  README.md
Due: prettier --check

4.0.0-rc.2
  package.json
Due: biome check, prettier --check

docs(readme): replace deprecated props
  README.md
Due: prettier --check

fix: remove broken type export to prevent runtime import errors
  src/lib/index.ts
Due: biome check, eslint, prettier --check

refactor: re-export types from types.d.ts using in index.ts
  src/lib/index.ts
Due: biome check, eslint, prettier --check

chore: made IFS variable more consistent
  .github/workflows/check.yaml
  .github/workflows/release.yaml
Due: prettier --check

refactor: don't use rune for prevScroll/prevProps and fix Svelte warning
  src/lib/VirtualList.svelte
Due: eslint, prettier --check

refactor: fix some svelte errors
  src/lib/SizeAndPositionManager.js
  src/lib/SizeAndPositionManager.test.js
  src/routes/demos/hacker-news/+page.svelte
  src/routes/examples/controlled-scroll-offset/+page.svelte
  src/routes/examples/scroll-to-index/+page.svelte
  src/routes/examples/variable-heights/+page.svelte
Due: biome check, eslint, prettier --check, vitest related --run

fix: reset measurement state when configuration changes
  src/lib/SizeAndPositionManager.js
Due: biome check, eslint, prettier --check

fix: mark precomputed items as measured
  src/lib/SizeAndPositionManager.js
  src/lib/SizeAndPositionManager.test.js
Due: biome check, eslint, prettier --check, vitest related --run

fix: handle zero totalSize correctly
  src/lib/SizeAndPositionManager.js
  src/lib/SizeAndPositionManager.test.js
Due: biome check, eslint, prettier --check, vitest related --run

fix: recompute precomputed data on reset
  src/lib/SizeAndPositionManager.js
  src/lib/SizeAndPositionManager.test.js
Due: biome check, eslint, prettier --check, vitest related --run

fix: also bump @playwright/test
  package.json
  pnpm-lock.yaml
Due: biome check, prettier --check

test: add test for proposed changes
  src/lib/SizeAndPositionManager.test.js
Due: biome check, eslint, prettier --check, vitest related --run

fix(test): used wrong lastMeasureIndex assertion
  src/lib/SizeAndPositionManager.test.js
Due: biome check, eslint, prettier --check, vitest related --run

docs: mark itemSizeAndPositionData as public for the unit tests
  src/lib/SizeAndPositionManager.js
Due: biome check, eslint, prettier --check

refactor: revert redundant change, as it was fixed in #119
  src/lib/SizeAndPositionManager.js
Due: biome check, eslint, prettier --check

refactor: improve performance of stale items filter by doing it during render
  src/lib/VirtualList.svelte
Due: eslint, prettier --check

refactor: remove redundant items array clearing I could not confirm this has any benefits. Feel free to proof me wrong.
  src/lib/VirtualList.svelte
Due: eslint, prettier --check

fix: make vitest also use firefox for browser tests
  vite.config.js
Due: biome check, eslint, prettier --check

fix(test): use number for width and set scrollDirection, also renames the wrapper file so it's excluded from publish package
  src/lib/VirtualList.svelte.test.js
  src/lib/VirtualList.test.svelte
Due: biome check, eslint, prettier --check, vitest related --run

feat(biome): use local configuration schema instead of URL
  biome.json
Due: biome check, prettier --check

feat(gha): split check workflow up into individual workflows and improve release workflow Also update some action versions along the way.
  .github/workflows/check-github-actions-workflows.yaml
  .github/workflows/check-shell-scripts.yaml
  .github/workflows/check.yaml
  .github/workflows/release.yaml
Due: prettier --check

chore(deps): bump pnpm to v11.21.0
  package.json
  pnpm-workspace.yaml
Due: biome check, prettier --check

fix(gha): forgot to checkout and also bump pnpm/action-setup to v6.0.10
  .github/workflows/check.yaml
  .github/workflows/release.yaml
Due: prettier --check

chore(deps): bump biome to v2.5.7
  biome.json
  package.json
  pnpm-lock.yaml
Due: biome check, prettier --check

Path conditions:
  biome check: any of: *.{js,ts,css,json}
  eslint: any of: *.{js,ts,svelte}
  prettier --check: any of: *.{js,ts,svelte,css,html,json,yml,yaml,md}
  vitest related --run: any of: *.{test,spec}.{js,ts}
  playwright test: any of: e2e/*.{js,ts}
