Repository jonasgeiler/svelte-tiny-virtual-list: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check, eslint, prettier --check, vitest related --run, playwright test

.lintstagedrc.json:

{
	"*.{js,ts,css,json}": "biome check",
	"*.{js,svelte}": "eslint",
	"*.{js,ts,svelte,css,html,json,yml,yaml,md}": "prettier --check",
	"*.{js,ts}": "vitest related --run",
	"e2e/*.{js,ts}": "playwright test"
}

fix: resolve svelte/no-navigation-without-resolve eslint errors
  src/routes/+layout.svelte
  src/routes/demos/hacker-news/+page.svelte
Due: eslint, prettier --check

fix: resolve some svelte-check problems
  src/lib/VirtualList.svelte.test.js
  src/lib/VirtualList.test.svelte
  src/routes/+layout.svelte
Due: biome check, eslint, prettier --check, vitest related --run

feat(gha): use stage publish for release
  .github/workflows/release.yaml
Due: prettier --check

4.0.0
  package.json
Due: biome check, prettier --check

chore: add github release notes config
  .github/release.yaml
Due: prettier --check

fix: prefer `item` snippet over deprecated `children` snippet in code
  src/lib/VirtualList.svelte
Due: eslint, prettier --check

docs: replace deprecated `onListItemsUpdate` in props table with `onItemsUpdated`
  README.md
Due: prettier --check

chore: add soft links to logo files in brand/ directory
  brand/logo-180.png
  brand/logo-192.png
  brand/logo-512.png
  brand/logo.svg
Due: none

chore: add soft links to logo files in brand/ directory (#131)
  brand/logo-180.png
  brand/logo-192.png
  brand/logo-512.png
  brand/logo.svg
Due: none
